@import 'utils/variables';
@import 'components/type';

*{
    margin:0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 18px;
    font-family: 'Sulphur Point', sans-serif;
    background-color: #EEF0F2;
    line-height: 1.2;
}

main{
    margin: 72px 18px;
    overflow-x: hidden;
}

.intro__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
}

.intro__container, .intro__filtre{
    height: 100vh;
    width: 100%;
}

.intro__image{
    width: 100%;
    height: 50vh;
    background-size: cover;
    &--woman{
        background-image: url(../assets/images/FilleUne.png);
        background-position: bottom;
        transform: rotate(180deg);
    }
    &--man{
        background-image: url(../assets/images/MecUn.png);
        background-position: center;
    }
}

.intro__filtre{
    background: linear-gradient(0deg, rgba(19,19,22,0.75) 0%, rgba(19,19,22,0.25) 100%);
    position:absolute;
    top: 0;
}

.logo{
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 5;
    color:#EEF0F2;
    
    &__title{
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 100px;
    }

    &__slogan{
        font-weight: bold;
        max-width: 80%;
        text-align: center;
        margin: 9px auto 0 ;
    }
}

.scroll{
    color: #EEF0F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 36px;
}

.scroll__mouse{
    width: 19px;
    height: 36px;
    border: 2px solid #EEF0F2;
    border-radius: 20px;
    display: flex;

    &--ball{
        display: block;
        width: 9px;
        height: 9px;
        background-color: #EEF0F2;
        border-radius: 50%;
        margin: auto;
        animation: scrollable 2s linear infinite;
    }
}

@keyframes scrollable{
    0%{
        opacity: 0;
        transform: translateY(1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(-1rem);
    }
}


.title{
    font-family: 'Barlow Condensed', sans-serif;

    &__second{
        font-size: 65px;
        margin: 90px 0 18px;
    }

    &__third{
        font-size: 32px;
    }
}



.download{
    width: 75%;
    margin:72px auto;
    background-color: #274154;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    align-items: center;
    &__el{
        width: 70%;
        margin: 18px;
        transition: 0.5s;
    }

    &__el:hover{
        transform: scale(0.9);
        transition: 0.5s;
    }
}

.download:first-of-type{
    margin: 72px auto 0;
}

.discover__container, .filter__container, .all__container, .share__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.image__mockup{
    margin-top: 36px;
    width: 65%;
    filter: drop-shadow(0px 4px 4px #131316);
}

.footer{
    &__container{
        background-color: #274154;
        color: #EEF0F2;
        display:flex ;
        flex-direction: column;
        align-items: center;
    }

    &__list{
        list-style: none;
        margin: 36px auto;
        text-align: center;

        &__el{
            padding: 9px;
        }
    }
}

.link{
    text-decoration: none;
    color: #EEF0F2;
    position: relative;
}

.link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #EEF0F2;
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: translateY(6px) scaleX(1);
    transition: transform .3s ease-in-out;
  }
  
.link:hover::before {
  transform-origin: right;
  transform: translateY(6px) scaleX(0);
}

@media(orientation : landscape){
    .intro__container{
        flex-direction: row;
    }

    .intro__image{
        height: 100vh;
    }
}


@media(min-width:736px){
    body{
        font-size: 20px;
    }

    main{
        margin: 80px 40px;
    }

    .scroll{
        margin-bottom: 40px;

        &__text{
            margin-bottom: 10px;
        }
    }
 
    .scroll__mouse{
        width: 21px;
        height: 40px;
    
        &--ball{
            width: 10px;
            height: 10px;
        }
    }

    .logo{
        &__title{
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 224px;
        }

        &__slogan{
            max-width: 60%;
            text-align: end;
            margin: 10px auto 0 ;
        }
    }
    
    

    .title{
        font-family: 'Barlow Condensed', sans-serif;

        &__second{
            font-size: 73px;
            margin: 0 auto 20px;
        }

        &__third{
            font-size: 41px;
        }
    }

    .download__container{
        margin: 160px auto ;
    }

    .download{
        width: 100%;
        margin:80px auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        &__el{
            width: 35%;
            margin: 20px;
        }
    }
    
    .download:first-of-type{
        margin: 80px auto 0;
    }

    .discover__container, .filter__container, .all__container, .share__container{
        display: flex;
        margin: 160px auto 0;
        flex-direction: row;
        align-items: center;
    }

    section:nth-child(even){
        flex-direction: row-reverse;
    }

    .image__mockup{
        margin:0 5%;
        width: 45%;
    }

    .link::before {
        transform: translateY(8px) scaleX(1);
      }
      
    .link:hover::before {
      transform: translateY(8px) scaleX(0);
    }


    .footer{
        &__container{
            display:flex ;
            flex-direction: row;
            align-items: center;
        }

        &__list{
            width: 80%;
            margin: 40px auto;
            display: flex;
            justify-content: space-evenly;
            &__el{
                width: 200px;
                padding: 10px;
            }
        }
        
    }
}

@media(min-width:1024px){
    main{
        margin: 100px 60px;
    }

    .intro__container{
        flex-direction: row;
    }

    .intro__image{
        height: 100vh;
    }

    .logo{
        
        &__title{
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 336px;
        }
    
        &__slogan{
            font-weight: bold;
            font-size: 41px;
            max-width: 60%;
            text-align: center;
            margin: 9px auto 0 ;
        }
    }

    .title{
    
        &__second{
            margin: 0 0 20px;
        }
    
        &__third{
            width: 80%;
        }
    }

    .download{
        width: 60%;
        margin:100px auto;
        &__el{
            max-width: 50%;
            margin: 20px;
            transition: 0.5s;
        }
    
        &__el:hover{
            transform: scale(0.9);
            transition: 0.5s;
        }
    }
    .download:first-of-type{
        margin: 100px auto 0;
    }
    
    .discover__container, .filter__container, .all__container, .share__container{
        display: flex;
        justify-content: center;
        width: 85%;
    }

    .download{
        &__container{
            width: 85%;
        }
        &__text{
            width: 65%;
        }
    }

    .discover__text, .filter__text, .all__text, .share__text {
        width: 40%;
        margin-right: 40px;
    }

    .image__mockup{
        width: 25%;
    }

    
    .link::before {
        transform: translateY(10px) scaleX(1);
      }
      
    .link:hover::before {
      transform: translateY(10px) scaleX(0);
    }

    .footer{

        &__list{
            list-style: none;
            margin: 40px auto;
            text-align: center;
    
            &__el{
                padding: 10px;
            }
        }
    }


}


@media(min-width:700px)and(max-width:920px)and(orientation:landscape){
    .intro__container{
        align-items: flex-start;
    }
    .scroll{
        margin-bottom: 8px;
    }
}

@media(min-width:700px)and(max-width:920px)and(max-height:390px)and(orientation:landscape){
    .intro__container{
        align-items: center;
    } 
    .scroll{  
       display: none;
    }
}

@media(-webkit-min-device-pixel-ratio: 2){
    .intro__image{
        &--woman{
            background-image: url(../assets/images/FilleUne@2x.png);
            background-position: bottom;
            transform: rotate(180deg);
        }
        &--man{
            background-image: url(../assets/images/MecUn@2x.png);
            background-position: center;
        }
    }
}